<h2>Write your comment below</h2>
<input #commentField type="text" [(ngModel)]="comment" (input)="parseInput($event)" (keydown)="handleKeyDown($event)">
<button (click)="postComment()">Submit</button>
<div *ngIf="displayUserSelect" class="user-select" #usersPopup>
    <a *ngFor="let user of users" href="#" (click)="selectName(user.name, user.userID)" (keydown)="handleKeyDown($event, user.name, user.userID)">{{user.name}}</a>
</div>
<div>
    <h3>Comments will show up down here</h3>
    <p *ngFor="let comment of comments">{{comment}}</p>
</div>